.alarm {
  height: 100%;
}
.alarm .sensor-value-settings {
  padding: 5px 0px;
  background-color: #dcdff1;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 0px;
}

.alarm .sensor-value-settings .obj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  margin: 15px;

  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 10%);
}
.alarm .sensor-value-settings .obj .info {
  width: 90%;
  float: left;
  display: flex;
  align-items: center;
}
.alarm .sensor-value-settings .obj .btn-group .btns {
  margin-left: 10px;
}
.alarm .sensor-value-settings .obj .time-btn {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

.save-btn {
  margin: 20px;
  float: right;
}
