#root,
html,
.App {
  height: auto;
  width: 100%;
}
body {
  height: 100%;
  color: #1a202c;
  text-align: left;
  background-color: #eff0f5;
  width: 100%;
}
.header {
  background-color: white;
  text-align: center;
  height: 50px;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.widget {
  width: 500px;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 10%);
  background-color: white;
}

@media screen and (min-width: 769px) {
  main {
    padding: 10px 150px;
    display: flex;
    align-items: flex-start;
  }
  .widget {
    height: auto;
  }
}
