.text-link {
  color: inherit;
  text-decoration: inherit;
}
html {
  height: 100%;
}
body {
  height: 100%;
  color: #1a202c;
  text-align: left;
  background-color: #e2e8f0;
}

#root,
.App {
  height: 100%;
}
