.card {
  width: auto;
  height: 100%;
  font-size: large;
  box-shadow: 10px;
  padding: 20px;
}
input {
  border-width: 0.5px;
  border-radius: 0.5em;
  width: 200px;

  outline: none;
}
article {
  height: 100%;
}
.info {
  height: 100%;
}
img {
  width: 100%;
}
ul {
  width: 100%;
  padding: 0;
  list-style: none;
}
li {
  border-style: solid;
  border-width: 0px;
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h4 {
  margin-bottom: 0;
}
.title {
  background-color: #f8f9fa;
  text-align: center;
  border-style: solid;
  border-width: 0.1px 0px;
  border-color: gray;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h4 {
  margin-bottom: 0;
}
@media screen and (min-width: 769px) {
  .profile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  img {
    height: 500px;
  }
  .info {
    border-color: blue;
    border-width: 5px;
    width: 600px;
    display: flex;
    align-items: center;
  }
}
