.card {
  width: auto;
  height: 100%;
  font-size: large;
  border-style: none;
  padding: 0px 20px;
  margin-bottom: 10px;
}

article {
  height: 100%;
}
.info {
  height: 100%;
}
img {
  width: 100%;
}
.profile .card .info ul {
  width: 100%;
  padding: 0;
  list-style: none;
}
.profile .card .info ul li {
  padding: 10px;
  margin: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile .card .info ul li input {
  border-width: 0.5px;
  border-radius: 0.5em;
  width: 180px;
  height: 40px;
  outline: none;
  padding: 2px 5px;
  text-align: right;
}
.profile .card .info .btn {
  float: right;
}
.title {
  background-color: white;
  text-align: center;
  margin-top: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title h4 {
  margin-bottom: 0;
}

@media screen and (min-width: 769px) {
  .profile .card .info ul li input {
    border-width: 0.5px;
    border-radius: 0.5em;
    width: 250px;
    height: 40px;
    outline: none;
    padding: 2px 5px;
  }
}
