.title {
  background-color: #f8f9fa;
  text-align: center;
  border-style: solid;
  border-width: 0.2px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logs {
  background-color: #f8f9fa;
  height: 700px;
  padding: 10px;
  overflow: auto;
}
.message {
  text-align: right;
  border-style: solid;
  border-width: 0.1px;
  border-radius: 1em;
  box-shadow: 1px 1px 1px grey;
  padding: 5px;
  margin: 20px;
  height: 55px;
}

h5,
h6 {
  margin-bottom: 2px;
}
@media screen and (min-width: 769px) {
  .logs {
    background-color: #f8f9fa;
    height: 100%;
    padding: 10px;
    overflow: auto;
  }
}
