.sensor .logs {
  height: 400px;
  margin: 20px;
  overflow: auto;
  background-color: #dcdff1;
  border-radius: 10px;
}
.message {
  text-align: right;

  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 10%);
  padding: 5px;
  margin: 15px;
  height: 60px;
}

h5,
h6 {
  margin-bottom: 2px;
}
@media screen and (min-width: 769px) {
  .sensor {
    height: 873px;
  }
  .sensor .logs {
    height: 715px;
    overflow: auto;
  }
}
